{% extends 'base.html.twig' %}

{% block title %}{{ artist.artistName }} - Singles{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ artist.artistName }} - Singles</h1>

        {% if singles is not empty %}
            {% set sortedSingles = singles|sort((a, b) => b.releaseDate <=> a.releaseDate) %}
            <ul>
                {% for single in sortedSingles %}
                    <li>
                        <strong>{{ single.title }}</strong> ({{ single.releaseDate|date('F j, Y') }})
                        {% if single.spotifyLink %}
                            - <a href="{{ single.spotifyLink }}" target="_blank">Listen on Spotify</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No singles available.</p>
        {% endif %}
    </div>
{% endblock %}
