{% extends 'base.html.twig' %}

{% block title %}Artist Landing Page{% endblock %}

{% block body %}
    <!-- Psychedelic circles -->
<!--     <div class="box gradient-green left"></div>
    <div class="box gradient-green right"></div>
    <div class="box gradient-green center"></div> -->

    <div class="container">
        <div class="artists-gallery">
            {% for artist in artists %}
                <div class="artist-item">
                    <div class="artist-photo-wrapper">
                        {% if artist.artistPhotos|length > 0 %}
                            <a href="{{ path('artist_profile', {'artist_id': artist.id}) }}" class="artist-link">
                                <div class="artist-name">{{ artist.artistName }}</div>
                                <img src="{{ asset(artist.artistPhotos|first.filePath) }}" alt="{{ artist.artistName }}" class="img-fluid artist-img artist-image">
                            </a>
                        {% else %}
                            <div class="artist-item">
                                <img src="{{ asset('default_artwork.jpg') }}" alt="No Artist Image" class="img-fluid artist-img artist-image">
                                <div class="artist-name">No Artist Name</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        /* Psychedelic background style */
/*         .box {
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background: rgb(70, 233, 102);
            background: linear-gradient(90deg, rgba(70, 233, 102, 1) 0%, rgba(63, 241, 245, 0.5244755244755245) 100%);
            z-index: -15;
        }

        .left {
            top: 20%;
            left: 10%;
            z-index: -15;
        }

        .right {
            top: 40%;
            right: 10%;
            z-index: -15;
        }

        .center {
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -15;
        } */

        .artist-name {
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            font-size: 60px;
            z-index: 100;
            opacity: 1 !important;

        }
        .artist-name {
            z-index: 50;

            
        }

        .container {
            position: relative;
            z-index: 10;
        }
    </style>

    <!-- GSAP Core and ScrollTrigger Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('DOM loaded, initializing GSAP animations');

            gsap.registerPlugin(ScrollTrigger);

/*             // Psychedelic animation for the circles
            gsap.to(".left", {
                rotation: 360,
                scale: 1.5,
                duration: 5,
                repeat: -1,
                yoyo: true,
                ease: "power1.inOut",
                scrollTrigger: {
                    trigger: ".left",
                    start: "top 75%",   // Trigger at 75% of the viewport height
                    end: "top 25%",     // End when the element hits 25%
                    scrub: true,        // Sync the animation with scroll
                    markers: false,     // Turn off markers for debugging
                }
            });

            gsap.to(".right", {
                rotation: 360,
                scale: 1.5,
                duration: 5,
                repeat: -1,
                yoyo: true,
                ease: "power1.inOut",
                scrollTrigger: {
                    trigger: ".right",
                    start: "top 50%",   // Trigger at 50% of the viewport height
                    end: "top 0%",      // End when the element hits the top
                    scrub: true,        // Sync the animation with scroll
                    markers: false,     // Turn off markers for debugging
                }
            });

            gsap.to(".center", {
                rotation: 360,
                scale: 1.5,
                duration: 5,
                repeat: -1,
                yoyo: true,
                ease: "power1.inOut",
                scrollTrigger: {
                    trigger: ".center",
                    start: "top 25%",   // Trigger at 25% of the viewport height
                    end: "top 0%",      // End when the element hits the top
                    scrub: true,        // Sync the animation with scroll
                    markers: false,     // Turn off markers for debugging
                }
            }); */

            // Artist Item Animations
            gsap.utils.toArray('.artist-item').forEach((item, index) => {
                gsap.fromTo(item, 
                    {
                        scale: gsap.utils.random(0.1, 0.4),
                        opacity: 0,
                        y: 800,
                        rotation: gsap.utils.random(-45, 45),
                    },
                    {
                        scale: gsap.utils.random(0.9, 1.5),
                        opacity: 1,
                        y: -100,
                        rotation: 0,
                        scrollTrigger: {
                            trigger: item,
                            start: 'top bottom',
                            end: 'bottom top',
                            scrub: 1,
                            markers: false,
                        }
                    }
                );
            });

            // Zoom & translate as you scroll for artist images
            gsap.utils.toArray('.artist-image').forEach(image => {
                gsap.fromTo(image, 
                    {
                        opacity: 0.4,  
                    },
                    {
                        opacity: 1, 
                        scrollTrigger: {
                            trigger: image,
                            start: 'top 90%', 
                            end: 'bottom top',  
                            scrub: 5, 
                            markers: false, 
                        }
                    }
                );
            });

        });
    </script>
{% endblock %}
