{% extends 'base.html.twig' %}

{% block title %}{{ album.title }} - Album Details{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ album.title }}</h1>
        <p><strong>Release Date:</strong> {{ album.releaseDate|date('F j, Y') }}</p>
        <p><strong>Number of Tracks:</strong> {{ album.numTracks }}</p>

        <p><strong>Artist:</strong> <a href="{{ path('artist_profile', {'artist_id': artist.id}) }}">{{ artist.artistName }}</a></p>

        {% if producers is not empty %}
            <h3>Producers</h3>
            <ul>
                {% for producer in producers %}
                    <li>
                        {{ producer.firstName }} {{ producer.lastName }}
                        {% if producer.prodRole is not empty %}
                            : <strong>{{ producer.prodRole|map(role => role.value)|join(', ') }}</strong>
                        {% else %}
                            : <em>No role assigned</em>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No producers available.</p>
        {% endif %}

        {% if genres is not empty %}
            <h3>Genres</h3>
            <ul>
                {% for genre in genres %}
                    <li>{{ genre.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No genres available.</p>
        {% endif %}

        {% if album.spotifyLink %}
            <p><a href="{{ album.spotifyLink }}" target="_blank">Listen on Spotify</a></p>
        {% endif %}
        
        {% if album.youtubeLink %}
            <p><a href="{{ album.youtubeLink }}" target="_blank">Watch on YouTube</a></p>
        {% endif %}
        
        {% if album.soundcloudLink %}
            <p><a href="{{ album.soundcloudLink }}" target="_blank">Listen on SoundCloud</a></p>
        {% endif %}

        {% if album.artwork %}
            <div>
                <img src="{{ album.artwork }}" alt="{{ album.title }} Album Artwork" class="img-fluid">
            </div>
        {% endif %}
    </div>
{% endblock %}
